* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0 0 0 20px;
}

img {
  display: block;
  max-width: 100%;
}
/*________________ TASK 1______________________ */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper button {
padding: 20px;
text-transform: uppercase;
font-size: 20px;
border: 0px;
}

.wrapper button:active {
  background-color: rgb(220, 220, 220);
}

[data-start] {
  margin-right: 20px;
}

/*________________ TASK 2______________________ */
.timer {
  display: flex;
  margin-top: 20px;
}

.timer span {
  display: block;
}

.field {
  text-align: center;
}

.field:not(:last-child) {
margin-right: 20px;
}

.value {
  font-size: 35px;
}


/*________________ TASK 3______________________ */

.form div{
  display: flex;
  margin-bottom: 20px;
}

.form input{
  display: block;
  padding: 8px 5px;
  margin-right: 20px;
}

.form button{
  width: 570px;
  padding: 8px 0px;
}